*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    overflow-x:hidden;
}
.hero{
    width:100%;
    min-height:100vh;
    background:#cf2f3d;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    overflow:hidden;
}
.box{
    position:relative;
    width:1200px;
    height:700px;
    flex-shrink:0;
}
.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    z-index:10;
}
h1{
    font-size:130px;
    line-height:0.9;
    color:#ffd6d6;
    font-weight:900;
    position:relative;
    z-index:2;
}
.star{
    position:absolute;
    width:260px;
    height:260px;
    background:#7d2830;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    top:-80px;
    left:20%;
    transform:translateX(-50%);
    z-index:1;
}
.role{
    width:260px;
    margin:30px auto 20px;
    padding:20px;
    border:2px solid black;
    border-radius:100px;
    font-size:30px;
    font-weight:bold;
    color:#ffd6d6;
}
.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
}
.buttons button{
    padding:12px 20px;
    border-radius:999px;
    border:2px solid black;
    background:transparent;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.deco{
    position:absolute;
}
.deco1{
    width:230px;
    height:350px;
    left: 120px;
    top: 10px;
}
.deco2{
    width:420px;
    left: -180px;
    top: -90px;
}
.deco3{
    width:290px;
    left:150px;
    bottom:170px;
}
.deco4{
    width:350px;
    right: 5px;
    top: -200px;
}
.deco5{
    width:300px;
    right:10px;
    bottom:10px;
}
.deco6{
    width:430px;
    left: -120px;
    top:330px;
}

.deco7{
    width:250px;
    height:470px;
    right:190px;
    top:250px;
}

.deco8{
    width:290px;
    left:180px;
    top:440px;
}

.deco9{
    width:180px;
    right: 100px;
    bottom: 270px;
}
.deco10{
    width:200px;
    left: 5px;
    bottom: 300px;
}
.deco12{
    width:200px;
    right: -50px;
    top: 290px;
}
.deco14{
    width:80px;
    left: -50px;
    top: 340px;
}
.deco16{
    width: 300px;
    right: 250px;
    top: 50px;
}
@media (max-width:1200px){
    .box{
        zoom:0.9;
    }
}

@media (max-width:1000px){
    .box{
        zoom:0.75;
    }
}

@media (max-width:800px){
    .box{
        zoom:0.6;
    }
}

@media (max-width:600px){
    .box{
        zoom:0.45;
    }
}

@media (max-width:500px){
    .box{
        zoom:0.38;
    }
}

@media (max-width:400px){
    .box{
        zoom:0.3;
    }
}
@media (max-width:300px){
    .box{
        zoom:0.2;
    }
}

@media (max-width:200px){
    .box{
        zoom:0.15;
    }
}

@media (max-width:150px){
    .box{
        zoom:0.1;
    }
}