*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    overflow-x:hidden;
}
.hero{
    width:100%;
    min-height:100vh;
    background:#3f5f76;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    overflow:hidden;
}
.outer-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    padding-inline:120px;
}
.box{
    position:relative;
    width:1200px;
    height:700px;
    flex-shrink:0;
    transform:none;
}
.scale-wrapper{
    width:1200px;
    zoom:0.85;
}
.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    z-index:10;
}
h1{
    font-size:130px;
    line-height:0.9;
    color:#dce4ef;
    font-family: 'playwrite gb j', cursive;
    font-weight:400;
    font-weight:900;
    position:relative;
    z-index:2;
}
.star{
    position:absolute;
    width:260px;
    height:260px;
    background:#1e3455;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    top:-80px;
    left:20%;
    transform:translateX(-50%);
    z-index:1;
}
.role{
    width:260px;
    margin:30px auto 20px;
    padding:20px;
    border: 1.8px solid black;
    border-radius: 500px;
    font-size:30px;
    font-weight:bold;
    color:#F4DAD4;
    font-family: 'playwrite gb j', cursive;
}
.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
}
.buttons button:hover{
    transform:translateY(-3px);
}
.buttons button{
    padding:12px 20px;
    border-radius:999px;
    border:1.8px solid black;
    background:transparent;
    color:white;
    font-family: 'cinzel', serif;
    font-weight:bold;
    cursor:pointer;
}
.deco{
    position:absolute;
}
.deco1{
    width:230px;
    height:350px;
    left: 120px;
    top: 10px;
}
.deco2{
    width:420px;
    left: -180px;
    top: -90px;
}
.deco3{
    width:290px;
    left:150px;
    bottom:170px;
}
.deco4{
    width:350px;
    right: 5px;
    top: -200px;
}
.deco5{
    width:300px;
    right: -20px;
    bottom:10px;
}
.deco6{
    width:430px;
    left: -120px;
    top:330px;
}

.deco7{
    width:250px;
    height:470px;
    right: 170px;
    top:250px;
}

.deco8{
    width:290px;
    left:180px;
    top:440px;
}

.deco9{
    width:170px;
    right: 100px;
    bottom: 290px;
}
.deco10{
    width:200px;
    left: 5px;
    bottom: 300px;
}
.deco12{
    width:200px;
    right: -50px;
    top: 290px;
}
.deco14{
    width:80px;
    left: -50px;
    top: 340px;
}
.deco16{
    width: 310px;
    right: 250px;
    top: 30px;
}
@media (max-width:1300px){
    .hero{
        zoom:0.8;
    }
}
@media (max-width:1200px){
    .hero{
        zoom:0.75;
    }
}
@media (max-width:1100px){
    .hero{
        zoom:0.7;
    }
}
@media (max-width:1000px){
    .hero{
        zoom:0.65;
    }
}
@media (max-width:900px){
    .hero{
        zoom:0.6;
    }
}
@media (max-width:800px){
    .hero{
        zoom:0.55;
    }
}
@media (max-width:700px){
    .hero{
        zoom:0.5;
    }
}
@media (max-width:600px){
    .hero{
        zoom:0.48;
    }
}
@media (max-width:500px){
    .hero{
        zoom:0.45;
    }
}
@media (max-width:450px){
    .hero{
        zoom:0.42;
    }
}
@media (max-width:400px){
    .hero{
        zoom:0.4;
    }
}
@media (max-width:350px){
    .hero{
        zoom:0.38;
    }
}
@media (max-width:320px){
    .hero{
        zoom:0.35;
    }
}
@media (max-width:280px){
    .hero{
        zoom:0.32;
    }
}
@media (max-width:240px){
    .hero{
        zoom:0.28;
    }
}
@media (max-width:200px){
    .hero{
        zoom:0.25;
    }
}